* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav {
    background: #0082e6;
    height: 80px;
    width: 100%;
}

body {
    font-family: consolas;
}

label.logo {
    color: rgb(243, 243, 243);
    font-size: 49px;
    font-family: Engravers MT;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bolder;
}
label.logo:hover{
    color: #08416d;
}
nav ul {
    float: right;
    margin-right: 0 5px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;

}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

li a.active,
li a:hover {
    background: #1b9bff;
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: grab;
    display: none;
}

#check {
    display: none;
}


#iic{
    font-size: 190px;
    font-family: algerian;
    color: #1d5c8d;
    margin: 0px 10px;
    padding: 10px 10px;
    display: block;
    text-align: center;
    
}
.fname{
    text-transform: uppercase;
    margin: 1px 10px;
    padding: 10px 10px;
    font-size: 30px;
    font-weight: bold;
    display: block;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(33, 22, 56);
}
.image{
    background: url(back-image.gif) repeat;
    background-size: contain;
    position: relative;
    width: 800px;
    height: 600px;
    margin: 75px auto;
    padding: 10px 10px;
    /* z-index: -1; */
    
}
.headabout {
    margin: 0px 10px;
    padding: 10px 10px;
    display: block;
    text-align: center;
    font-family: aparajita;
    font-size: 40px;
    font-weight: bold;
}
.descriptionA p{
    border: 3px solid rgb(213, 204, 204);
    margin: 10px 100px;
    padding: 66px 210px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    
    border-radius: 20px;
    background-color: rgb(213, 204, 204);
    

}
.header{
    margin: 40px 10px;
    padding: 20px 10px;
    display: block;
    text-align: center;
    font-family: aparajita;
    font-size: 40px;
    font-weight: bold;

}
.descriptionF {
    margin: 30px 103px;
    padding: 40px 158px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    border: 3px solid rgb(213, 204, 204);
    border-radius: 20px;
    background-color: rgb(213, 204, 204);
    
}
.contactHeading{
    margin: 40px 10px;
    padding: 20px 10px;
    display: block;
    text-align: center;
    font-family: aparajita;
    font-size: 40px;
    font-weight: bold;
}
.container{
    margin: 20px;
    padding: 0px;
   
    display: flex;
    align-items: center;
    justify-content: center;
 
  
  
}
.container a {
    margin: 3px 5px;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align:center ;
    line-height: 100px;
    box-shadow: 2px 2px 2px 2px rgb(192, 195, 195);
    color: #1b9bff;
}
.container .sm:hover{
    color: #1a72b6;
    background-color: rgb(192, 195, 195);
    transition: 0.5s;
}
    
@media (max-width:952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a {
        font-size: 15px;

    }
}

@media (max-width:852px) {

    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .2s;

    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;

    }

    a:hover, a.active {
        background: none;
        color: #0082e6;
    }

    #check:checked ~ ul {
        left: 0;
    }
    .descriptionA p{
        border: 3px solid rgb(213, 204, 204);
        margin: 10px 50px;
        padding: 66px 50px;
        font-size: 15px;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
        
        border-radius: 20px;
        background-color: rgb(213, 204, 204);
    }
    .descriptionF {
        margin: 30px 50px;
        padding: 40px 80px;
        font-size: 15px;
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
        border: 3px solid rgb(213, 204, 204);
        border-radius: 20px;
        background-color: rgb(213, 204, 204);
        
    }
}